.new-trip-form-container {
  z-index: 2000;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.trip-form {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.trip-form-photo-area {
  display: flex;
  width:80%
}

.photo-upload {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.photo-upload-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.photo-upload-form button{
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
  color: white;
  border-radius: 3px;
  background-color: #0099e5;
  border: 1px solid #0088cc;
  text-shadow: 0px 1px 0px #0088cc;
}

.photo-upload-form button:hover {
  background: #00aaff;
}

.photo-upload-form img {
  height: 350px;
  width: auto;
}


.trip-form-input-area {
border-radius: 4px;
padding: 20px;
width: 40%;
display: flex;
flex-direction: column;
justify-content: center;
}

.inner-trip-form-area{
  height: 333px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.input-type {
  padding-bottom: 15px;
}


.create-trip-button {
    text-align: center;
    width: 100%;
    // max-width: 226px;
    background: #37DE69;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 3px;
    color: white;
    border: 1px solid #2DC45B;
    text-shadow: 0px 1px 0px #2DC45B;
}

.trip-label {
  color: #0099e5;
  border-bottom: 5px;
  font-size: 14px;
}

.trip-label-input {
  width: 100%;
  // box-shadow: 0px 1px 9px -1px rgba(0,0,0,0.75);
  padding: 10px;
  font-size: 16px;
}

.description-label-input {
  width: 100%;
  padding: 10px;
  padding-bottom: 60px;
  font-size: 16px;
  overflow: scroll;
}

.trip-form-photo-upload {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-pin-image-text {
  padding-top: 10px;
}
