// Place all the styles related to the api/trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.trip-index-item-container {
  top:0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #E9E9EA;
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.photo-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // background: rgba(225, 224, 224, 0.65);
  background: #FEFCFC;
}

.photo-container img{
  overflow: hidden;
  height: auto;
  width: 100%;
  max-width: 885px;
}


.trip-index-item-wrapper {
  background: #F6F3F3;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  display: flex;
  max-width: 1300px;
  border-radius: 3px;
  box-shadow: -1px 2px 17px -2px rgba(0,0,0,0.75);
 margin-left: -10px;
}


.trip-index-item-photo-wrapper {
  max-height: 100%;
  height: 100%;
  width: 67%;
  float: right;
  display: flex;
  justify-content: center;
}


.trip-index-item-details {
  width: 35%;
  margin-right: -10px;
  display: flex;
  flex-direction: column;
  background: white;
  height: 100%;
  border-left: #efefef 1px solid;
}

.trip-index-item-writing {
  border-radius: 3px;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 27px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.trip-index-item-box {
  border-bottom: #DFDFDF 1px solid;
  width: inherit;
}
.trip-index-item-box:last-child {
  border-bottom: none;
  width: inherit;
}

.trip-index-item-box:first-child {
  display: flex;
  padding: 20px;
}


.trip-index-item-user {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.trip-index-item-user h1{
  font-size: 20px;
}

.user-navatar-container-item {
  height: 80px;
  width: 80px;
  display: flex;
  padding-left: 15px;
}

.user-navatar-item {
  padding-left: 40px;
  padding-right: 40px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 1px 1px 8px 0px rgba(87,86,87,1);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.user-navatar-item img{
  height: 100px;
  width: 100px;
}

.trip-index-item-title {
  padding: 20px;
}

.trip-location {
  padding: 20px;
}

.trip-index-item-description {
  padding: 20px;
}

.delete-button-box {
  display: flex;
  justify-content: flex-end;
}

.delete-button {
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  border: #DFDFDF 1px solid;
  margin-right: 20px;
}

.delete-button:hover {
  box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75);
  background-color: #F2F2F2;
}

.image-buttons-container ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 50px;
  text-align: center;
  align-items: center;
}

.image-buttons-container:last-child{
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 30px;
}

.trip-location {
  padding: 7px;
  margin-left: 20px;
  font-size: 13px;
  display: flex;
  justify-content: flex-start;
}

.location-info {
  padding-right: 13px;
}
