// Place all the styles related to the api/trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.trip-index-item-container {
  top:0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #E9E9EA;
  // opacity: 0.8;
  position: fixed;
  display: flex;
  justify-content: center;
}


.trip-index-item-wrapper {
  margin: 0 auto;
  margin-top: 70px;
  min-width: 1100px;
  background: #F6F3F3;
  display: flex;
  height: 80%;
  width: 80%;
  border-radius: 3px;
  box-shadow: -1px 2px 17px -2px rgba(0,0,0,0.75);
}

.trip-index-item-photo-wrapper {
  width: 65%;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trip-index-item-photo-wrapper img {
  max-height: 100%;
}


.trip-index-item-details {
  width: 35%;
  float: left;
  display: flex;
  flex-direction: column;
  background: white;
  height: 100%;
  border-left: #DFDFDF 1px solid;
}

.trip-index-item-writing {
  border-radius: 3px;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 27px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.trip-index-item-box {
  border-bottom: #DFDFDF 1px solid;
  width: 100%
}
.trip-index-item-box:last-child {
  border-bottom: none;
  width: 100%;
}

.trip-index-item-user {
  padding: 20px;
}

.trip-index-item-title {
  padding: 20px;
}

.trip-location {
  padding: 20px;
}

.trip-index-item-description {
  padding: 20px;
}

.delete-button-box {
  display: flex;
  justify-content: flex-end;
}

.delete-button {
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  border: #DFDFDF 1px solid;
  margin-right: 20px;
}

.delete-button:hover {
  box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75);
  background-color: #F2F2F2;
}

.image-buttons-container ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link-to-user {
  padding: 5px;
  margin: 5px;
  margin-left: 20px;
  border-radius: 3px;
  border: #DFDFDF 1px solid;
  margin-right: 20px;
}

.link-to-user:hover {
  box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75);
  background-color: #F2F2F2;
}
