/* line 2, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
.loggin-form-page {
  display: flex;
  justify-content: center;
}

/* line 6, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
.inner-form {
  display: flex;
  justify-content: center;
  border: grey solid 1px;
  margin-top: 40px;
  padding-top: 20px;
  width: 300px;
  height: 430px;
}

/* line 15, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
.loggin-form-container {
  margin-top: 20px;
  padding-top: 150px;
  border: grey;
  width: 400px;
  height: 600px;
}

/* line 24, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
.loggin-form {
  position: absolute;
  border: grey solid 1px;
  width: 400px;
  height: 600px;
  background: green;
  margin-top: 50px;
}

/* line 34, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
.submitButton {
  color: white;
  background: green;
  padding: 7px;
  margin: 5px;
  font-size: 20;
  text-align: center;
  width: 88%;
}

/* line 44, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
.headerName {
  display: block;
}

/* line 48, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
.login-conent {
  display: block;
  height: 100px;
  text-align: center;
  width: 100%;
  margin: 50px;
  padding: 50px;
}

/* line 57, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
.username {
  padding-bottom: 5px;
}

/* line 61, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
.field-item {
  display: block;
  padding-right: 5px;
  padding-left: 5px;
}

/* line 67, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
.signup {
  text-align: center;
  padding-bottom: 50px;
}
/* line 2, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/header.scss */
.top-nav-header {
  position: absolute;
  top: 0;
  width: 100%;
  min-width: 800px;
  height: 50px;
  z-index: 1000;
  border-bottom: 1px solid #eeeff2;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

/* line 15, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/header.scss */
.right-nav {
  height: 100%;
  text-align: center;
}

/* line 20, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/header.scss */
.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
}

/* line 28, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/header.scss */
.left-nav ul li {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 33, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/header.scss */
.right-nav ul li {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 40, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/header.scss */
.login-input {
  border: grey solid 1px;
}
/* line 1, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/reset.scss */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

/* line 19, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/reset.scss */
ul {
  list-style: none;
}

/* line 23, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/reset.scss */
img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 29, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/reset.scss */
input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 44, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/reset.scss */
button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */
/* line 51, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/reset.scss */
.group:after {
  content: "";
  display: block;
  clear: both;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

@import "base/reset.scss";
@import "base/header.scss";
