/* line 2, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
.loggin-form-page {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #E9E9EA;
  display: flex;
}

/* line 12, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
.login-form-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  top: 50px;
  display: flex;
  justify-content: center;
}

/* line 21, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
.inner-form {
  display: flex;
  justify-content: center;
  background-color: white;
  top: 40px;
  vertical-align: middle;
  padding-top: 20px;
  width: 300px;
  height: 400px;
  padding: 32px 40px 24px;
  color: #71767a;
}

/* line 35, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
.loggin-form {
  position: absolute;
  border: grey solid 1px;
  width: 400px;
  height: 400px;
  background: green;
  margin-top: 50px;
}

/* line 44, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
.login-header {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 30px;
  font-size: x-large;
}

/* line 51, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
.submitButton {
  color: white;
  background: green;
  padding: 7px;
  font-size: 20;
  text-align: center;
  width: 88%;
}

/* line 61, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
.login-conent {
  display: block;
  height: 100px;
  text-align: center;
  width: 100%;
  padding: 50px;
}

/* line 70, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
.login-input {
  padding: 7px;
}

/* line 74, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
.field-item {
  display: block;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
}

/* line 81, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
.field-item label {
  text-align: left;
}

/* line 85, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
.signup {
  text-align: center;
  padding-bottom: 50px;
}

/* line 90, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
.username {
  color: #71767a;
  text-align: right;
  font-size: 14px;
}

/* line 96, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
.login-error-bar {
  position: absolute;
  z-index: 20000;
  top: 0;
  height: 30px;
  background-color: #FB9A9A;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  margin: 10px;
  vertical-align: middle;
}

/* line 110, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/auth.scss */
input {
  background-color: white;
}
/* line 2, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/header.scss */
.top-nav-header {
  position: absolute;
  top: 0;
  width: 100%;
  min-width: 800px;
  height: 50px;
  z-index: 1000;
  border-bottom: 1px solid #eeeff2;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  background-color: white;
}

/* line 17, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/header.scss */
.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
  padding-right: 50px;
  font-family: 'Lato', sans-serif;
}

/* line 27, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/header.scss */
.left-nav ul li:hover {
  color: blue;
}

/* line 31, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/header.scss */
.left-nav ul li {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

/* line 37, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/header.scss */
.right-nav ul li {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

/* line 44, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/header.scss */
.right-nav ul li:hover {
  color: blue;
}

/* line 48, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/header.scss */
.left-nav ul {
  margin-left: 40px;
}

/* line 54, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/header.scss */
.login-input {
  border: grey solid 1px;
}

/* line 58, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/header.scss */
.splash-container-photo {
  background: url(/assets/waterfall-96b980eeb61307f9fcd2e6aa19faf3661a86fcfe4ec880d9ab528e6ef8d6440e.jpg);
  background-size: 1300px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  top: 0;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 73, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/header.scss */
.splash-photo-writing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 35px;
}
/* line 1, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/reset.scss */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-family: 'Lato', sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

/* line 20, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/reset.scss */
ul {
  list-style: none;
}

/* line 24, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/reset.scss */
img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 30, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/reset.scss */
input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 45, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/reset.scss */
button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */
/* line 52, /Users/laurenmadigan/500trails/app/assets/stylesheets/base/reset.scss */
.group:after {
  content: "";
  display: block;
  clear: both;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

@import "base/reset.scss";
@import "base/header.scss";
