
.loggin-form-page {
  position: fixed;
  top:0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: url("http://res.cloudinary.com/dtnwzbeum/image/upload/v1487888937/sebastien-marchand-9747_1_wtgrko.jpg");
	background-repeat: no-repeat;
	background-position: center;
  display: flex;
  border-radius: 10px;
  opacity: 0.9;
}

.login-form-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  top: 70px;
  display: flex;
  justify-content: center;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}

.inner-form {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  opacity: 0.9;
  top: 80px;
  vertical-align: middle;
  padding-top: 70px;
  width: 300px;
  height: 450px;
  padding: 32px 40px 24px;
  color: #71767a;
  box-shadow: 2px 2px 8px -1px rgba(94,94,94,1);
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}


.loggin-form {
  position: absolute;
  border: grey solid 1px;
  width: 189px;
  height: 400px;
  margin-top: 70px;
}

.login-header {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 30px;
  font-size: 24px;
}

.submitButton {
  color: white;
  background: green;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 15px;
  font-size: 20;
  width: 97%;
	text-align: center;
  border-radius: 3px;
  text-transform: capitalize;
  font-size: 17px;
}

.submitButton:hover {
  background-color: #1AB55D;
  border: none;
}


.login-conent {
	display: block;
	height: 100px;
	text-align: center;
	width: 100%;
	padding: 50px;

}

.login-input {
  padding: 7px;
}

.field-item label {
  text-align: left;
}

.signup {
	text-align: center;
	padding-bottom: 50px;
}

.username {
  color: #71767a;
  text-align: right;
  font-size: 14px;
}

.login-error-bar {
  position: absolute;
  z-index: 20000;
  top:0;
  height: 30px;
  border-radius: 5px;
  color: #ec5a69;
  font-size: 13px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.login-error-bar ul li{
  color: #e64c5c;
  font-size: 14px;
  padding-top: 10px;
}


input {
  border: #cecece solid 1px;
  background: #e6e6e6;
}

input:hover {
  border: grey solid 1px;
  cursor: pointer;
}
