
.top-nav-header {
  position: absolute;
  top:0;
  width:100%;
  min-width: 800px;
  height:50px;
  z-index:1000;
  border-bottom: 1px solid #eeeff2;
  display:flex;
	justify-content: space-between;
	border-bottom: 1px solid gray;
  background-color: white;
}


.left-nav > ul,
.right-nav > ul {
	display: flex;
	align-items: center;
  text-align: center;
  height: 100%;
  padding-right: 50px;
  font-family: 'Lato', sans-serif;
}

.left-nav ul li:hover {
  color: blue;
}

.left-nav ul li {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.right-nav ul li {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.left-nav ul {
  margin-left: 40px;
}



.login-input {
  border: grey solid 1px;
}

.splash-container-photo {
  background: url(/assets/waterfall.jpg);
  background-size: 1300px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  top:0;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.splash-photo-writing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 35px;
}
